
.card__full {
  .see_sizes{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 15px;


    .see_sizes-btn{

      display: flex;
      background-color: #FFFFFF;
      border: 1px solid black;
      padding: 10px;
      width: 100%;
      cursor: pointer;
      align-content: stretch;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

    .see_sizes-text{
      font-weight: 500;
      font-size: 18px;
      cursor: pointer;
      padding: 10px 6px;


    }
      .see_sizes-img{
        margin-left: 10px;
        max-width: 180px;
        height: auto;
        align-items: flex-end;
        display: flex;
      }
    }
  }
  .see_sizes-images{
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;

    img{
      border: 4px solid rgba(136, 136, 136, 0.51);
      border-radius: 9px;
      width: 300px;
      height: 200px;
    }
  }
  .card__full-all {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 816px) {
  .card__full {
    .see_sizes{
      .see_sizes-btn{
        padding: 5px;
        margin-top: 15px;
        width: 100%;
      .see_sizes-text{
      }
      }
    }
    .see_sizes-images{
      img{
        width: 150px;
        height: 150px;
      }
    }
    .card__full-all {
      flex-direction: column;
      align-items: center;
      .main-product {
        display: flex;
        flex-direction: column;
        .product__page-text {
          margin-top: 10px;
        }

        .product__page {
          gap: 18px;
        }
      }

      .window__right {
        gap: 10px;

        .window__right-btn {
          margin-bottom: 20px;
        }

        .window__right-size {
          gap: 0;

          .window__right-size-open {
        margin-bottom: 30px;

          }
        }
      }
    }
  }
}
