.header {
  .containerHeader {
    .header__product {
      display: flex;
      color: #414141;
      margin-top: 35px;
      margin-bottom: 60px;
      justify-content: space-between;

      .header__product-nav {
        flex: 1 1 0;

        .header__product-navigation {
          display: flex;
          gap: 10px;

          .header__product-navigation-bold {
            font-weight: bold;
            color: black;

          }

          .header__product-navigation-opacity {
            opacity: 0.9;
          }

          p {
            font: normal normal normal 14px/17px "courier new", courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
          }
        }
      }

      .header__product-navigation2 {
        display: flex;
        align-items: center;

        p {
          font: normal normal normal 14px/17px "courier new", courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
        }
      }
    }
  }
}

@media (max-width: 816px) {
  .header{
    .containerHeader {
      .header__product{
        padding-left: 29px;
        gap: 20px;
        .header__product-nav {
          .header__product-navigation{
            p{
              font: normal normal normal 11px/17px "courier new", courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
              word-break: break-all;
            }
          }
        }
      }
    }
  }
}