.mid {
  .mid_background1 {
    background-repeat: no-repeat;
    background-color: rgb(228, 232, 233);
    background-size: cover;
    background-position: center;
    display: grid;
    left: 33px;
    justify-content: center;

    background-image: url("../assets/images/backgr.jpg");


    .one {
      .header_back {
        display: flex;
        align-items: center;
        gap: 5px;
        .BACK {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}