

.checkout {
  display: flex;
  gap: 20px;
  padding-top: 60px;

}
@media (max-width: 928px) {
  .checkout {
    flex-direction: column;
    padding: 40px;

    .checkout-left {
      max-width: 351px;
    }

    .checkout-right {
      .checkout-right__order {
        width: 100%;
        .checkout-right__order-header{
          .checkout-right__order-header-data{
            font-size: 15px;
          }
        }
      }

    }
  }
}